# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Build folders
build/
bin/
Debug/
Release/

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.vs/

# VS Code settings
.vscode/

# Logs
*.log